.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it stays on top of other elements */
    font-family: 'Montserrat', sans-serif;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffcc00;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 14px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    margin-right: 40px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
  }
  
  .search-bar button:hover {
    background-color: #e6b800;
  }
  
  /* To prevent content from hiding behind the fixed header */
  body, .App {
    padding-top: 50px; /* Adjust this to match the height of the header */
  }
  